<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._9_BTL">
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
        <activity android:name=".ui.main.StudentAbilityActivity" />
        <activity android:name=".ui.course.CourseActivity" />
        <activity android:name=".ui.course.LessonActivity" />
        <activity android:name=".ui.course.VideoPlayerActivity" />
        <activity android:name=".ui.quiz.QuizActivity" />
        <activity android:name=".ui.quiz.QuestionActivity" />
        <activity android:name=".ui.assignment.AssignmentActivity" />
        <activity android:name=".ui.assignment.AssignmentListActivity" />
        <activity android:name=".ui.chat.ChatActivity" />
        <activity android:name=".ui.teacher.TeacherMainActivity" />
        <activity android:name=".ui.teacher.TeacherClassListActivity" />
        <activity android:name=".ui.teacher.TeacherClassDetailActivity" />
        <activity android:name=".ui.teacher.TeacherStudentDetailActivity" />
        <activity android:name=".ui.teacher.TeacherGradingActivity" />
        <activity android:name=".ui.teacher.TeacherChatActivity" />
        <activity android:name=".ui.teacher.TeacherAnalyticsActivity" />
        <activity android:name=".ui.teacher.TeacherAddEditChapterActivity" />
        <activity android:name=".ui.teacher.TeacherCourseListActivity" />
        <activity android:name=".ui.teacher.TeacherQuizManagerActivity" />

    </application>

</manifest>